<!DOCTYPE html>
<html lang="it"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corso</title>
</head>
<body>
    <div th:fragment="corso">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 th:text="${corso.insegnamento.nome}"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h6>Comunicazioni</h6>
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="container-fluid">
                                <div class="row">
                                <div class="col-7">
                                    <h6>Lezioni:</h6>
                                </div>
                                <div sec:authorize="hasAuthority('USER')" class="col-5">
                                        <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        Aggiungi lezione
                                    </button> 
                                </div>
                                </div>
                            </div>         
                        </div>
                        <div class="card-body">
                            <div th:each=" lez : ${corso.lezioni}">
                                <hr>
                                <div class="container-fluid">
                                    <div class="row">
                                    <div class="col-6">
                                        <span th:text="${lez.data}"></span>
                                    </div>
                                    <div class="col-6">
                                        <form sec:authorize="hasAuthority('USER')" th:action="@{/user/delete-lesson}" method="POST">
                                            <input type="hidden" th:name="codice" th:value="${corso.insegnamento.codice}">
                                            <input type="hidden" th:name="anno" th:value="${corso.annoAccademico}">
                                            <input type="hidden" th:name="idLezione" th:value="${lez.id}">
                                            <button type="submit" class="btn btn-danger">
                                                <span>&times;</span>
                                            </button>
                                        </form>
                                    </div>
                                    </div>
                                </div>   
                                <p th:text="${lez.descrizione}"></p>                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h6>Informazioni</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tr>
                                    <td>Settore: </td>
                                    <td th:text="${corso.insegnamento.settore}"></td>
                                </tr>
                                <tr>
                                    <td>Semestre:</td>
                                    <td th:text="${corso.insegnamento.semestre}"></td>
                                </tr>
                                <tr>
                                    <td>Crediti:</td>
                                    <td th:text="${corso.insegnamento.crediti}"></td>
                                </tr>
                                <tr>
                                    <td>Anno:</td>
                                    <td th:text="${corso.insegnamento.anno}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h6>Programma:</h6>
                            <div sec:authorize="hasAuthority('USER')" class="col-5">
                                    <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProg">
                                    Modifica Programma
                                </button> 
                            </div>
                        </div>
                        <div class="card-body">
                            <p th:text="${corso.programma}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>