<!DOCTYPE html>
<html lang="it"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div th:fragment="navbar">
            <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="/index">Home</a>
                    <!--Bottone per menu con schermi piccoli-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navDropdown" aria-controls="navDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!--fine button-->
                    <div class="collapse navbar-collapse" id="navDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/docenti">Docenti</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/insegnamenti(anno='2019/2020')}" class="nav-link">Materie</a>
                            </li>
                            <li class="nav-item">
                                <a sec:authorize="hasAuthority('USER') and !hasAuthority('ADMIN')" class="nav-item nav-link" href="/user/user-home">Personal Home</a>
                                <a sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link" href="/admin/admin-home">Admin Home</a>
                            </li>
                            <li class="nav-item">
                                <a sec:authorize="!isAuthenticated()" class="nav-item nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/logout">Logout</a>
                            </li>          
                        </ul>
                    </div>
                </div>
            </nav> 
        </div>       
    
</body>
</html>