<!DOCTYPE html>
<html lang="it"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Docenti</title>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container">
            <div class="row">
                
                
            </div>
            <div class="row">
                <table class="table table-striped table-responsive">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Qualifica</th>
                            <th>Studio</th>
                            <th>Telefono</th>
                            <th>Mail</th>
                            <th>Corso/i</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each=" docente : ${docenti}">
                            <td th:text="${docente.nome}"></td>
                            <td th:text="${docente.cognome}"></td>
                            <td th:text="${docente.qualifica}"></td>
                            <td th:text="${docente.studio}"></td>
                            <td th:text="${docente.telefono}"></td>
                            <td><a th:href="'mailto:'+${docente.mail}">Mail</a></td>
                            <td>
                                <div th:each=" corso : ${docente.corsi}">
                                    <a th:href="@{/corso(codice=${corso.insegnamento.codice}, anno='2019/2020')}">
                                        <span th:text="${corso.insegnamento.nome}"></span>
                                    </a>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>