<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Docenti</title>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div class="row mb-3">
            <form th:action="@{/insegnamenti}" method="GET" class="form-inline">
                <div class="form-group">
                    <label for="selectAnno">Anno accademico:</label>
                    <select name="anno" class="form-control mx-3" th:name="anno" id="selectAnno">
                        <option th:value="'2019/2020'">2019/2020</option>
                        <option th:value="'2018/2019'">2018/2019</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Seleziona</button>
            </form>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Codice</th>
                            <th>Nome</th>
                            <th>Settore</th>
                            <th>Semestre</th>
                            <th>Crediti</th>
                            <th>Docente/i</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each=" corso : ${corsi}">
                            <td th:text="${corso.insegnamento.codice}"></td>
                            <td><a th:href="@{/corso(codice=${corso.insegnamento.codice}, anno=${annoAcc})}"
                                    th:text="${corso.insegnamento.nome}"></a></td>
                            <td th:text="${corso.insegnamento.settore}"></td>
                            <td th:text="${corso.insegnamento.semestre}"></td>
                            <td th:text="${corso.insegnamento.crediti}"></td>
                            <td><span th:each=" doc : ${corso.titolari}"> <span th:text="${doc.cognome}"></span></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>