<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Login</title>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="text-center">
        <div class="form-login">
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Username/Password errati
            </div>
            <form id="login-form" th:action="@{/login}" method="POST">
                <h1>Accedi</h1>
                <div class="form-group">
                    <label for="username" class="sr-only">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <button onclick="submitForm()" class="btn btn-primary btn-block btn-lg">Invia</button>
            </form>
        </div>
        <p id="key" th:text="${publicKey}"></p>
    </div>

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script th:src="@{/js/cripto.js}"></script>
</body>

</html>